<h1>Wir feiern: Deine ADFC-Klingel zum Jubiläum</h1>

<p>Der ADFC Sachsen wird 30! Das wollen wir feiern. Und du kannst dabei sein, mit deiner eigenen Zweiton-Klingel im ADFC-Look. Sei Teil der Bewegung und klingele immer in der richtigen Tonart!</p>

<p>Hier geht es zur Bestellung:</p>
<form method="post">
<p>Ich bestelle verbindlich <input type="number" min="1" max="4" id="anzahl" name="anzahl" required> hochwertige orangene Zweiton-Klingel mit ADFC-Logo 
(Einzelpreis: 5,00 Euro + 5,00 Porto für den Versand von bis zu 4 Klingeln). 
Als Liefertermin planen wir KW 49 (30. Nov. - 6. Dez.).</p>


<div class="row">
<div class="column">
<table>
<tr>
<td>
<input type="text" maxlength="15" id="vorname" name="vorname" autocomplete="given-name" required><br/>
<label for="vorname">Vorname</label>
</td>
<td>
<input type="text" maxlength="15" id="name" name="name" autocomplete="family-name" required><br/>
<label for="name">Name</label>
</td>
</tr>
<tr>
<td colspan="2">
<input type="text" maxlength="35" id="strasse" name="strasse" autocomplete="street-address" required><br/>
<label for="strasse">Straße und Hausnummer</label>
</td>
</tr>
<tr>
<td>
<input type="text" maxlength="15" id="plz" name="plz"  autocomplete="postal-code" required><br/>
<label for="plz">PLZ</label>
</td>
<td>
<input type="text" maxlength="15" id="ort" name="ort" autocomplete="locality" required><br/>
<label for="ort">Ort</label>
</td>
</tr>
<tr>
<td>
<input type="email" id="email" name="email" autocomplete="email" required><br/>
<label for="email">E-Mail-Adresse</label>
</td>
<td></td>
</tr>
</table>
</div>
<div class="column">
<img src="Klingelbild-Kl.jpg">
</div>
</div>

<p>
<input type="checkbox" id="abholung" name="abholung" value="Selbstabholer">
  <label for="abholung">Ich hole die Bestellung ab und spare das Porto.</label>
</p>
<p>&nbsp;</p>
<p>Ich hätte gern außerdem kostenlos folgendes abgefahrenes Zeugs:</p>
<table>
<tr>
<td><input type="number" min="0" max="10" id="num_mitgliedaufkleber" name="num_mitgliedaufkleber"> </td>
<td>Aufkleber „Mitglied im ADFC“ fürs Schutzblech (nur für Mitglieder)</td>
</tr>
<tr>

<td><input type="number" min="0" max="10" id="num_gutscheine" name="num_gutscheine">
<td> Flyer „Einstiegsmitgliedschaft für 19,50€ im ersten Jahr“ zur Weitergabe im Freundeskreis</td>
</tr>
<tr>
<td><input type="number" min="0" max="10" id="num_flyer" name="num_flyer">
<td> Flyer „<a href="https://www.adfc.de/sei-dabei/verschenkerin-werden">Geschenkmitgliedschaft</a>“</td>
</tr>
</table>

<input type="submit" value="Jetzt bestellen" id="absenden" name="absenden">
</form>

