html {
    margin:    0 auto;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
body
{
    /* whatever you want */
}

input[type=text], input[type=email] {
    width: calc(100% - 5px);
    
}

table {
    width:100%;
    /*padding-right: 5px; */
    border-collapse: separate;
    border-spacing: 0 15px;
}

td {
    padding-right: 5px;
}

img {
    width:100%;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: rgb(238, 127, 0);
  border: none;
  color: white;
  padding: 12px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;  
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {

  text-decoration: underline;

}


 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}